html, body{
  font-family: Times New Roman, serif;
  padding: 0;
  margin: 0;
}

#button {
  margin-left: 40%;
  margin-right: 40%;
  background-color: #213862;

  border-radius: 15px;
  height: 100px;
}

#container {
	width: 800px;
	margin: 40px auto 60px;
}

header {
  background: url(wideback.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 25px;
  text-align: center;
}

#Contact-Information {
	margin: 0 0 16px 0;
  padding: 0 0 16px 0;
  font-size: 42px;
  font-weight: bold;
  letter-spacing: -2px;
  border-bottom: 1px solid #999;
}

h1{
 font-size:70px;
}

header img{
  border: 7px solid #ffffff;
    border-radius: 150px;
    padding: 5px;
    width: 279px;
}

.date {
  vertical-align: top;
  float: right;
}


