html, body{
  font-family: Times New Roman, serif;
  padding: 0;
  margin: 0;
}

#button {
  margin-left: 40%;
  margin-right: 40%;
  background-color: #213862;

  border-radius: 15px;
  height: 100px;
}

#container {
	max- width: 80%;
	margin: 40px auto 60px;
	padding: 0 40px;
}

header {
  background: url(wideback.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 25px;
  text-align: center;
}

#Contact-Information {
	margin: 0px 0 16px 0;
    padding: 16px 59px 16px 0;
    font-size: 19px;
    font-weight: bold;
    letter-spacing: -2px;
    border-bottom: 1px solid #999;
    text-align: center;
}

h1{
 font-size:70px;
}

header img{
  border: 7px solid #ffffff;
    border-radius: 150px;
    padding: 5px;
    width: 279px;
}

.date {
  vertical-align: top;
  float: right;
}


