body {
  font: 16px Times New Roman, Serif;
  background-color: lightblue;
  <h1> style="background-color:lightgray;">Steve Sorden </h1>
}
  #container {
 margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

